<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rosinante.penebusanresepdokter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/iconnewest"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconnewest"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.adminpages.printstruk.admindetailstruklistpage.AdminDetailStrukListActivity" />
        <activity
            android:name=".activities.outsidepages.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.outsidepages.IntroSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.outsidepages.loginpage.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.pasienpages.mvp.editpasienprofile.EditPasienProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.MainAdminActivity"
            android:label="@string/title_activity_main_admin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.user.adminregisteruserpage.AdminRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.outsidepages.mainregisterpage.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.dokter.admineditprofiledokterpage.AdminEditDokterProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.pasien.admineditpasienprofile.AdminEditPasienProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.antrian.adminantrianlistpage.AdminAntrianListActivity"
            android:label="@string/title_activity_admin_antrian_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.antrian.adminaddantrianpage.AdminAddAntrianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.obat.adminaddobatpage.AdminAddObatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.poliklinik.adminaddpoliklinikpage.AdminAddPoliklinikActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.pasienpages.mvp.pasienaddantrian.PasienAddAntrianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.dokterpages.dokteraddreseppage.DokterAddResepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.farmasipages.adddetailfarmasipage.FarmasiAddDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.kasirpages.kasiraddpembayaranpage.KasirAddPembayaranActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.printstruk.AdminPrintStrukActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.adminpages.dokter.admindokterlistpage.AdminDokterListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.pasien.adminpasienlistpage.AdminPasienListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.poliklinik.adminpolikliniklistpage.AdminPoliklinikListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.user.adminuserlistpage.AdminUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.obat.adminobatlistpage.AdminObatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.resep.AdminResepListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.pasienpages.mvp.mainpasien.MainPasienActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.dokterpages.maindokterpage.MainDokterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.farmasipages.mainfarmasipage.MainFarmasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.kasirpages.mainkasirpage.MainKasirActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.detail.AdminDetailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.adminpages.pembayaran.AdminPembayaranListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.kasirpages.kasirpembayaranhistorypage.KasirPembayaranHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.farmasipages.farmasidetailhistorypage.FarmasiDetailHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.dokterpages.dokterresephistorypage.DokterResepHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.pasienpages.mvp.pasienantrianhistory.PasienAntrianHistoryActivity"
            android:screenOrientation="portrait" />
        <!-- File Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rosinante.penebusanresepdokter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>